@import "colors";

.SelectBox {
	width:206px;
	height:20px;
    display: block;
    border: 1px solid $gray7;
    padding: 0;
}
.SelectBox .selected {
	background-color: $blue1 !important;
}
.SelectBox .clear {
	clear:both;
}
.SelectBox .selectedOption {
	float:left;
	padding:2px 0 0 6px;
	width:177px;
	font-weight:bold;
	font-size:12px;
	overflow:hidden;
}

.SelectBox .dropDown {
	width: 20px;
	height: 20px;
	float: right;
	background:url(../../images/widgets/select-box-dropdown-arrow.gif) no-repeat 0% 0%;

}
.SelectBox .optionsContainerTop {
	position:absolute;
	width:100%;
	height:7px;

}

.SelectBox .optionsContainerBottom {
	position:absolute;
	margin:-5px 0 0 0;
	width:100%;
	height:5px;
    border-bottom: 1px solid $gray7;
}

.SelectBox .optionsContainer {
	position:absolute;
	display:none;
    border-top: 1px solid $gray7;
}
.SelectBox .option {
	padding:2px 0 2px 5px;
	background-color: $white;
	border-left:solid 1px $gray7;
	border-right:solid 1px $gray7;
	text-align:left;
	font-weight:bold;
	font-size:12px;
}
.SelectBox .disabled {
	background-color:#C0CCCF;
	border-left:solid 1px #749490;
	border-right:solid 1px #749490;
	color:#90A4AA;
}

