#table_container {
  border: 1px solid #afafaf;
  padding: 10px;
  width: 800px;
  overflow: hidden; }

table.SortableTable {
  width: 100%;
  /*** Table Header ***/
  /*** Table Body ***/
  /*** Table Footer ***/ }
  table.SortableTable th {
    background: url(../../images/widgets/sortable-table-sort.png) no-repeat 10px 8px #0066cc;
    padding: 5px 5px 5px 25px;
    color: #ffffff;
    font-weight: bold;
    text-align: left; }
    table.SortableTable th.sortedASC {
      background: url(../../images/widgets/sortable-table-asc.png) no-repeat 10px 4px #0066cc; }
    table.SortableTable th.sortedDESC {
      background: url(../../images/widgets/sortable-table-desc.png) no-repeat 10px 9px #0066cc; }
    table.SortableTable th.tableHeaderOver {
      cursor: pointer;
      color: white; }
  table.SortableTable tbody tr:hover {
    background-color: #85c6de;
    cursor: pointer; }
  table.SortableTable tfoot tr {
    background-color: #0066cc; }
    table.SortableTable tfoot tr td {
      text-align: left;
      font-weight: bold;
      color: white; }

.topToolbar {
  margin-bottom: 10px; }

.columnSelector {
  width: 150px; }

.keywordSearchInput {
  margin-left: 10px; }

.bottomToolbar {
  margin-top: 10px;
  margin-bottom: 10px; }
  .bottomToolbar #pageNav {
    margin-left: 0px;
    float: left; }
    .bottomToolbar #pageNav div.page_first {
      float: left;
      background: url(../../images/widgets/sortable-table-first.gif) no-repeat;
      width: 16px;
      height: 16px;
      display: block; }
    .bottomToolbar #pageNav div.page_first:hover {
      cursor: pointer; }
    .bottomToolbar #pageNav div.page_previous {
      float: left;
      background: url(../../images/widgets/sortable-table-previous.gif) no-repeat;
      width: 16px;
      height: 16px;
      display: block; }
    .bottomToolbar #pageNav div.page_previous:hover {
      cursor: pointer; }
    .bottomToolbar #pageNav div.page_next {
      float: left;
      background: url(../../images/widgets/sortable-table-next.gif) no-repeat;
      width: 16px;
      height: 16px;
      display: block; }
    .bottomToolbar #pageNav div.page_next:hover {
      cursor: pointer; }
    .bottomToolbar #pageNav div.page_last {
      float: left;
      background: url(../../images/widgets/sortable-table-last.gif) no-repeat;
      width: 16px;
      height: 16px;
      display: block; }
    .bottomToolbar #pageNav div.page_last:hover {
      cursor: pointer; }
  .bottomToolbar #pageIndex {
    margin-left: 150px;
    float: left; }
  .bottomToolbar #pageSizeSelectorDiv {
    float: right; }

.pagingSelector {
  width: 100px;
  margin-right: 5px; }
