@import "colors";

.black{
    background-color: $black;
}

.white{
    background-color: $white;
}

.transparent{
    background-color: $trans;
}

.red1{
    background-color: $red1;
}

.red2{
    background-color: $red2;
}

.red3{
    background-color: $red3;
}

.red4{
    background-color: $red4;
}

.red5{
    background-color: $red5;
}

.red6{
    background-color: $red6;
}

.red7{
     background-color: $red7;
 }

 .gray1{
     background-color: $gray1;
 }

 .gray2{
     background-color: $gray2;
 }

 .gray3{
     background-color: $gray3;
 }

 .gray4{
     background-color: $gray4;
 }

 .gray5{
     background-color: $gray5;
 }

 .gray6{
     background-color: $gray6;
 }

 .gray7{
     background-color: $gray7;
 }


 .blue1{
     background-color: $blue1;
 }

 .blue2{
     background-color: $blue2;
 }

 .blue3{
     background-color: $blue3;
 }

 .blue4{
     background-color: $blue4;
 }

 .blue5{
     background-color: $blue5;
 }

 .blue6{
     background-color: $blue6;
 }

 .blue7{
     background-color: $blue7;
 }

 .blue8{
     background-color: $blue8;
 }

 .blue9{
     background-color: $blue9;
 }

 .blue10{
     background-color: $blue10;
 }

 .blue11{
     background-color: $blue11;
 }

 .blue12{
     background-color: $blue12;
 }

 .blue13{
     background-color: $blue13;
 }


